<h1>Profile</h1>

<h2>e-mail</h2>
<%= @user.email %>
<h2>post code</h2>
<%= @user.post_code %>
<h2>post code</h2>
<%= @user.address %>
<h2>profile</h2>
<%= @user.profile %>

<nav class="page-nav">
  <%= link_to t('views.common.back', name: i18n_pluralize(User.model_name.human.downcase)), users_path %>
</nav>
