<p style="color: green"><%= notice %></p>

<h1><%= I18n.t('index.books') %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
    <div class="index-item">
      <%= render book %>
      <p>
        <%= link_to I18n.t('attributes.show_this_book'), book %>
      </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to I18n.t('index.new_book'), new_book_path %>
</nav>
