<p style="color: green"><%= notice %></p>

<h1><%= I18n.t('index.books') %></h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to I18n.t('attributes.show_this_book'), book %>
    </p>
  <% end %>
</div>

<%= link_to I18n.t('index.new_book'), new_book_path %>
