<p style="color: green"><%= notice %></p>

<h1><%= t('.heading', model: @book_model_plural).capitalize %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
    <div class="index-item">
      <%= render book %>
      <p>
        <%= link_to t('common.show_this_book', model: @book_model), book %>
      </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to t('.new_book', model: @book_model), new_book_path %>
</nav>
