<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t('.edit_this_book', model: @book_model), edit_book_path(@book) %> |
  <%= link_to t('common.back_to_books', model: @book_model_plural), books_path %>

  <%= button_to t('.destroy_this_book', model: @book_model), @book, method: :delete %>
</nav>
