<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to I18n.t('show.edit_this_book'), edit_book_path(@book) %> |
  <%= link_to I18n.t('attributes.back_to_books'), books_path %>

  <%= button_to I18n.t('show.destroy_this_book'), @book, method: :delete %>
</div>
