<div id="<%= dom_id report %>">
  <p>
    <strong><%= Report.human_attribute_name(:title) %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:content) %>:</strong>
    <%= report.content %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:timestamp) %>:</strong>
    <%= report.created_at.to_s(:datetime_jp) %>
  </p>

</div>
