<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">
    <p class="navbar-text float-right">
    <% if user_signed_in? %>
      <%= t('views.common.status', name: current_user.email).html_safe %>
      <br>
      <%= link_to t('views.common.title_index', name: i18n_pluralize(Book.model_name.human)), books_path, class: "navbar-link" %> |
      <%= link_to t('views.common.title_index', name: i18n_pluralize(User.model_name.human)), users_path, class: "navbar-link" %> |

      <% if request.path == '/' || request.path.start_with?('/books') %>
        <%= link_to t('devise.heading.logout'), destroy_user_session_path, data: { turbo_method: :delete }, class: "navbar-link" %>
      <% elsif request.path.start_with?('/users') %>
        <%= link_to t('views.common.title_edit', name: i18n_pluralize(User.human_attribute_name("profile"))), edit_user_registration_path, class: "navbar-link" %> |
        <%= link_to t('devise.heading.logout'), destroy_user_session_path, data: { turbo_method: :delete }, class: "navbar-link" %>
      <% end %>

    <% else %>
      <%= link_to t('devise.heading.sign_up'), new_user_registration_path, class: "navbar-link" %> |
      <%= link_to t('devise.heading.login'), new_user_session_path, class: "navbar-link" %>
    <% end %>
    </p>

    <%= yield %>
  </body>
</html>
